<link rel="stylesheet" type="text/css" href="//loading.io/css/loading.css"/>
<link rel="stylesheet" type="text/css" href="//loading.io/css/loading-btn.css"/>

<center>
  	<div class="container" id="form">
		<h1>Reservas</h1>
		<br>
		<div class="btn btn-default ld-ext-right" {{action "consultar"}} id=searchBtn>
			Consultar<div class="ld ld-ring ld-spin"></div>
		</div>
	</div>
</center>

<div class="container" id="results" style='display:none;'>
	<hr/>
	<center>
		<h1>Resultados</h1>
	</center>
	{{#each model as |agencia|}}
		{{#each agencia.homes as |rental|}}
			<div class="container" id=item>				
				<div class="row" style="font-size: 14pt;">
					<div class="col-sm-4"></div>
					<div class="col-sm-4"></div>
					<div class="col-sm-4"><h3>Agencia: {{agencia.agency.name}}</h3></div>
				</div>
				<div class="row" style="font-size: 14pt">
					<div class="col-sm-4">
						<center><img src={{rental.thumbnail}} width="200" height="200"/></center>
					</div>
					<div class="col-sm-4">
						<div class="row"><p>{{rental.name}}</p></div>
						<div class="row"><p>Descripción: {{rental.description}}</p></div>
						<div class="row"><p>Dirección: {{rental.location.address}}</p></div>
					</div>
					<div class="col-sm-4">
						<br>
						<div class="row"><p>Precio Total: {{rental.totalAmount}}</p></div>
						<div class="row"><p>Precio Por Noche: {{rental.pricePerNight}}</p></div>
					</div>
				</div>
				<div class="row" style="font-size: 16pt; margin-top: 5px;">
					<div class="col-sm-4"></div>
					<div class="col-sm-4"></div>
					<div class="col-sm-4">
						<p>Rating: {{star-rating rental.rating readOnly=true anyPercent=true}}</p>
					</div>
				</div>
				<br>      
			</div>
			<div class="container" id=item>				
				<div class="row" style="font-size: 14pt;">
					<div class="col-sm-3"><h2>CheckIn</h2></div>
					<div class="col-sm-3"><h2>CheckOut</h2></div>
					<div class="col-sm-4"><h2>BookingId</h2></div>
					<div class="col-sm-2"></div>
				</div>
				{{#each rental.booking as |booking|}}
					<div class="row" style="font-size: 14pt;">
						<div class="col-sm-3"><p>{{booking.checkIn}}</p></div>
						<div class="col-sm-3"><p>{{booking.checkOut}}</p></div>
						<div class="col-sm-4"><p>{{booking.bookingId}}</p></div>
						<div class="col-sm-2">
							<center>
								<div class="btn btn-default ld-ext-right" {{action "cancelar" rental agencia booking.bookingId}} id=cancelarBtn>
									Cancelar<div class="ld ld-ring ld-spin"></div>
								</div>
							</center>
						</div>
					</div>
				{{/each}}
				{{#each rental.bookings as |booking|}}
					<div class="row" style="font-size: 14pt;">
						<div class="col-sm-3"><p>{{booking.checkIn}}</p></div>
						<div class="col-sm-3"><p>{{booking.checkOut}}</p></div>
						<div class="col-sm-4"><p>{{booking.bookingId}}</p></div>
						<div class="col-sm-2">
							<center>
								<div class="btn btn-default ld-ext-right" {{action "cancelar" rental agencia booking.bookingId}} id=cancelarBtn>
									Cancelar<div class="ld ld-ring ld-spin"></div>
								</div>
							</center>
						</div>
					</div>
				{{/each}}      
			</div>
			<br>
		{{/each}} 
	{{/each}}
	<br>
</div>